/* Format Board Game */
table{
    border-collapse: collapse;  /* collapse borders into single border (no gaps in between cells) */
    border: solid 0.2vw black;
    /*width: 50%;*/
}
.object_app{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 70vw;   /* set height in order for vertical and horizontal centering to work */
}
/* Format Board Cells */
td {
    height: 10vw;   /* set height and width of cells relative to viewport width for responsiveness */
    width: 10vw;
    font-size: 5vw; /* set font size relative to viewport width for responsiveness */
    text-align: center;
}

/* ---------- Board Grid Borders -------------*/
.middle_column{
    border-left: solid 0.2vw black;
    border-right: solid 0.2vw black;
}

#top_row, #middle_row{
    border-bottom: solid 0.2vw black;
}
/* ----------------------------------------- */

/* Format Subheadings responsive to viewport width */
.subheading_app {
    font-size: 3vw;
    text-align: center;
    margin: 0.3vw;
}
