/* Format Board Game */
table{
    border-collapse: collapse;
    border: solid 0.2vw black;
    /*width: 50%;*/
}
.object_app{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 70vw;
}
td {
    height: 10vw;
    width: 10vw;
    font-size: 5vw;
    text-align: center;
}

/* ---------- Board Grid Borders -------------*/
.middle_column{
    border-left: solid 0.2vw black;
    border-right: solid 0.2vw black;
}

#top_row, #middle_row{
    border-bottom: solid 0.2vw black;
}
/* ----------------------------------------- */

.subheading_app {
    font-size: 3vw;
    text-align: center;
    margin: 0.3vw;
}
